/* Tip Animations start */
.tip_section_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left,
.arrow-right {
  position: relative;
  top: 50%;
  cursor: pointer;
  font-size: 40px;
  color: black;
}

.arrow-left {
  margin-right: auto;
}

.arrow-right {
  margin-left: auto;
}

.tip_section_2 img {
  cursor: pointer;
}

/* Right */
.fadeIn-0 {
  animation: fadeIn-0 0.5s ease-in-out forwards;
}

@keyframes fadeIn-0 {
  from {
    transform: translateX(-100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

/* Left */
.fadeIn-1 {
  animation: fadeIn-1 0.5s ease-in-out forwards;
}

@keyframes fadeIn-1 {
  from {
    transform: translateX(100%) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

/* Tip Animations end */
/* Scroll Animations start */

.hidden {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1s ease-out;
}

.fade-in {
  opacity: 1;
  filter: blur(0px);
}
