<!DOCTYPE html>
<html>
	<head><meta charset="UTF-8">
		<link id="Style" rel="stylesheet" href="Professional.css" >
	</head>

	<body>
		<section id="Page">
      <p>Welcome Admin</p>
			<!--Image-->
			<section>
        <table>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th> 
            <th scope="col">Message</th>
          </tr>
            
            <% peopleList.forEach(interesteds => { %>
              <tr>
                <td><%= interesteds.Name %></td>
                <td><%= interesteds.Email %></td> 
                <td><%= interesteds.Message %></td>
              </tr>
          
            <% }) %>
    
        </table>

				
			</section>
        </section>
    </body>
</html>